@import 'reset';

@font-face {
  font-family: Inter;
  src: url('./../fonts/Inter-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: Inter;
  src: url('./../fonts/Inter-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: url('./../fonts/Inter-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Inter;
  src: url('./../fonts/Inter-SemiBold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Inter;
  src: url('./../fonts/Inter-Bold.ttf');
  font-weight: 800;
}

body {
  font-family: Inter, sans-serif;
}

.main {
  padding: 0 15px;
  background-color: #f9f9f9;

  h1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #111;

    @media (min-width:1081px) {
      font-size: 40px;
      line-height: 48px;
    }
  }
}

.row {
  max-width: 1366px;
  margin: 0 auto;
}