.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  min-height: 400px;
  background-color: #FFF;
  padding: 20px;
  border-radius: 10px;

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 20px;
  }

  &__measure-info {
    font-size: 12px;
    line-height: 130%;
    color: #3F4E65;
    position: absolute;
    bottom: 10px;
    left: 0px;
  }

  &__title-desk {
    font-weight: 5 00;
    font-size: 16px;
    line-height: 21px;
    color: #111;
    margin-top: 20px;

    span {
      font-weight: 700;
    }
  }

  &__product-info {
    margin-top: 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #111;
    margin-bottom: auto;

    p {
      margin-bottom: 5px;
    }

    span {
      font-weight: 300;
      color: #3F4E65;
    }
  }

  &__price {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 800;
    font-size: 16px;
    line-height: 21px;
    color: #111;
  }
}