.catalog {
  padding: 15px 0;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    label {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #111;
    }

    option {
      font-size: 16px;
      line-height: 24px;
      color: #3F4E65;
    }
  }

  &__sort-block_desk {
    display: none;

    @media(min-width:950px) {
      display: block;
    }
  }

  &__sort-block_mob {
    display: block;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media(min-width:950px) {
      display: none;
    }
  }


  &__filter {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    transition: all 0.3s;
  }

  &__filter_top {
    display: none;

    @media(min-width:1081px) {
      display: block;
      padding: 10px 0px;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #3F4E65;
      background: #FFF;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  &__filter_left {
    font-size: 14px;
    line-height: 17px;
    color: #3F4E65;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;

    @media (min-width:950px) {
      padding: 10px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-transform: uppercase;
      color: #111;
    }
  }

  &__filter_left:not(:last-child) {
    margin-bottom: 2px;

    @media (min-width:950px) {
      margin-bottom: 10px;
    }
  }

  &__filter_active {
    background-color: #FFC6504D;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media(min-width:950px) {
      margin-top: 30px;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__products-cards {
    flex-basis: auto;
    flex-grow: 1;

    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  .back-button {
    display: inline-flex;

    @media (min-width:950px) {
      display: none;
    }
  }
}