.header {
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  // align-items: space-between;

  &_main-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #111;
  }

  &_secondary-text {
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #111;
  }

  &_underline-text {
    font-size: 10px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #3F4E65;
  }

  &_underline-text:hover {
    cursor: pointer;
  }

  &__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #3F4E65;
  }
}

.dashed:after {
  content: '';
  display: block;
  position: absolute;
  width: 50%;
  border-left: 1px dashed #3F4E65;
  top: -10px;
  left: 50%;
  bottom: -2px;
  opacity: 0.1;
}

.header-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.contacts {
  display: flex;
  gap: 30px;
}

.address {
  display: flex;
  gap: 10px;
  height: 34px;
}

.email {
  display: flex;
  gap: 10px;
  height: 34px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__link {
    font-size: 14px;
    color: #3F4E65;
  }

  @media (min-width:1081px) {
    & {
      width: 512px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.upper-under-line {
  position: relative;
  margin-top: 25px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    background: #3F4E65;
    opacity: 0.2;
    top: -15px;
    width: 100%;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    background: #3F4E65;
    opacity: 0.2;
    bottom: -15px;
    width: 100%;
  }
}

.catalog-link {
  display: flex;
  height: 60px;
  align-items: center;
  padding: 0 30px;
  background-color: #FFC85E;
  border-radius: 50px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFF;

  img {
    width: 15px;
    height: 15px;
    margin-left: 15px;
  }

  @media (min-width:1260px) {
    & {
      padding: 0 50px;
    }
  }
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #EDEDED;
  border-radius: 50px;
  padding: 12px 20px;

  input {
    background-color: #EDEDED;
    max-width: 100px;
  }

  img {
    cursor: pointer;
  }

  @media (min-width:1260px) {
    input {
      max-width: 150px;
    }
  }
}

.sales-department {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  img {
    display: none;
  }

  @media (min-width:1260px) {
    img {
      display: block;
    }
  }
}

.price-list {
  max-width: 290px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background-color: #FFC85E;
  color: #FFF;
  border-radius: 50px;

  @media (min-width:1260px) {
    & {
      padding: 20px 50px;
    }
  }

  @media (min-width:1081px) {
    & {
      margin-top: 0;
    }
  }
}

.cart-widget {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  position: relative;

  &__counter {
    display: block;
    position: absolute;
    width: 17px;
    height: 17px;
    color: #FFF;
    text-align: center;
    font-weight: 700;
    font-size: 10px;
    line-height: 11px;
    text-align: center;
    border-radius: 50%;
    background-color: #FFC85E;
    border: #FFF solid 3px;
    top: -6px;
    left: 20px;
  }

  &__info {
    display: none;
  }

  @media (min-width:1081px) {
    &__counter {
      width: 24px;
      height: 24px;
      top: -5px;
      left: 30px;
      font-size: 14px;
      line-height: 20px;
    }
  }

  @media (min-width:1081px) {
    &__info {
      display: block;
    }
  }
}